.container {
  margin: 0 auto;
}

header > .container {
  overflow: hidden;
}

header #logo {
  float: left;
}

header form {
  float: right;
}

header input[type="search"] {
  margin-bottom: 0.8rem;
}

figure.feature {
  margin-bottom: 2rem;
}

main > section figure {
  margin-bottom: 1rem;
}

footer > .container {
  overflow: hidden;
}

footer .address {
  float: left;
}

footer .map {
  float: right;
  width: 50%;
  max-width: 250px;
}

@media (max-width: 379px) {
  .container {
    padding: 0 0.5rem;
  }

  #logo .type-of-company {
    display: none;
  }

  figure.feature figcaption {
    font-size: 1.8rem;
  }
}

@media (min-width: 380px) {
  main > section .other-stuff {
    margin: 0 -0.5rem;
    overflow: hidden;
  }

  main > section figure {
    float: left;
    margin: 0.5rem;
    width: calc(50% - 1rem);
  }
  main > section figure:nth-child(3n) {
    clear: left;
  }
}

@media (min-width: 800px) {
  main {
    overflow: hidden;
  }
  main > section {
    width: 66.66%;
    float: left;
  }

  main > aside {
    width: 31.333%;
    float: right;
  }
}

