.container {
  margin: 0 auto;
}

header > .container {
  display: flex;
  align-items: center;
}

header form {
  flex-grow: 1;
  text-align: right;
}

header input[type="search"] {
  margin-bottom: 0.8rem;
}

figure {
  position: relative;
}

figure figcaption {
  position: absolute;
  left: 0;
  width: 100%;
  bottom: 0;
}

figure.feature {
  margin-bottom: 2rem;
}

main > section figure {
  margin-bottom: 1rem;
}


footer > .container {
  display: flex;
}

footer .address {
  flex-grow: 1;
}

footer .map {
  width: 50%;
  max-width: 250px;
}

@media (max-width: 379px) {
  .container {
    padding: 0 0.5rem;
  }

  #logo .type-of-company {
    display: none;
  }

  figure.feature figcaption {
    font-size: 1.8rem;
  }
}

@media (min-width: 380px) {
  main > section .other-stuff {
    display: flex;
    flex-wrap: wrap;
    margin: -0.5rem;
  }

  main > section figure {
    width: calc(50% - 1rem);
    margin: 0.5rem;
  }
}

@media (min-width: 800px) {
  main.container {
    display: flex;
  }

  main > section {
    width:66.66%
  }

  main > aside {
    width: 31.333%;
    margin-left: 2%;
  }
}

