.remark-slide-number {
  display: none;
}

.remark-slide .remark-slide-content.cols.three .col-span-two {
  width: 66%;
}

.cols h1 + .col,
.cols h1 + .col + .col,
.cols h1 + .col + .col + .col {
  margin-top: -1em;
}

.browser {
  position: relative;
  box-sizing: border-box;
  height: 550px;
  width: 900px;
  background-image: url('resources/browser-frame-left.png'), url('resources/browser-frame-right.png');
  background-position: top left, top right;
  background-repeat: no-repeat;
  background-size: auto 50px;
  margin: 20px auto;
  border-radius: 5px;
  padding-top: 50px;
  box-shadow: 0 0 100px rgba(0, 0, 0, 1);
}

.browser iframe,
.browser .content {
  width: 100%;
  height: 100%;
  border: 0;
}

.browser .content {
  overflow: auto;
}

.browser .title {
  position: absolute;
  left: 61px;
  top: 11px;
  width: 110px;
  font-family: "HelveticaNeue-Light";
  font-weight: 300;
  color: #000;
  font-size: 9px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.browser .title .favicon {
  height: 12px;
  vertical-align: middle;
}

.browser .url {
  position: absolute;
  font-family: "HelveticaNeue-Light";
  font-weight: 300;
  left: 70px;
  top: 30px;
  color: #000;
  font-size: 10px;
}

.horizontal-line {
  position: absolute;
  left: 0;
  right: 0;
  height: 40px;
  background: rgba(255,255,255,0.8) url(resources/ruler-background.png) repeat-x top left;
}

.display-example > * {
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 20px;
}

.display-example address,
.display-example h2 {
    background: #FD5158;
    color: #fff;
  }

.display-example blockquote,
.display-example main {
    background: #FFF9AE;
    color: #1A1A1A;
  }

.display-example figure,
.display-example nav {
    background: #36BDB2;
    color: #fff;
  }
}

.inline-example {
  margin-top: 50px;
}

.inline-example div {
  display: inline-block;
  padding: 10px;
  background-color: #FD5158;
  color: #fff;
  height: 100px;
  width: 100px;
}

.inline-example article,
.inline-example aside,
.inline-example footer {
  display: inline-block;
  vertical-align: top;
  padding: 10px;
  color: #fff;
  margin-bottom: 10px;
}

.inline-example article {
  background-color: #FD5158;
}

.inline-example aside {
  background-color: #FFF9AE;
  color: #1A1A1A;
}
.inline-example footer {
  background: #36BDB2;
}

.inline-example-icon {
  font-size: 2em;
}

.inline-example-icon img {
  display: inline-block;
  height: 8em;
  vertical-align: middle;
}

.inline-example-icon span {
  display: inline-block;
  vertical-align: middle;
  font-size: 1.5em;
  line-height: 1em;
  width: 700px;
  text-align: left;
}

.border-box, .border-box * {
  box-sizing: border-box;
}

.box-sizing-example {
  margin:1em auto;
  color: #1A1A1A;
}

.box-sizing-margin {
  border:2px dashed #fff;
  padding: 40px;
}

.box-sizing-padding {
  background-color: #FFF9AE;
  border: 0 solid #BBB0A3;
}

.box-sizing-content {
  border:1px solid;
}

.center-example {
  padding: 10px;
  border: 1px solid #515151;
}

.center-example + .center-example {
  margin-top: 1rem;
}

.center-example span,
.center-example div {
  padding: 0.2em;
  background:#FD5158;
  line-height: 1.2em;
  font-size: 2em;
  color: #fff;
}

.position-example {
  padding: 10px;
  border: 1px solid #515151;
}
.position-example .box-a,
.position-example .box-b,
.position-example .box-c {
  line-height: 100px;
  text-align: center;
  font-size: 3em;
  color: #fff;
}

.position-example .box-a {
  background:#FD5158;
}

.position-example .box-b {
  background:#FFF9AE;
  color: #1A1A1A;
}

.position-example .box-c {
  background:#36BDB2;
}

.flexbox-example {
  display: flex;
  padding: 10px;
  border: 1px solid #515151;
}

.flexbox-example .box-a,
.flexbox-example .box-b,
.flexbox-example .box-c {
  line-height: 100px;
  text-align: center;
  font-size: 3em;
  color: #fff;
}

.flexbox-example .box-a {
  background:#FD5158;
}

.flexbox-example .box-b {
  background:#FFF9AE;
  color: #1A1A1A;
}

.flexbox-example .box-c {
  background:#36BDB2;
}

.calc-example {
  display: flex;
  padding: 10px;
  border: 1px solid #515151;
}

.calc-example .box-a,
.calc-example .box-b,
.calc-example .box-c {
  line-height: 100px;
  text-align: center;
  font-size: 3em;
  color: #fff;
}

.calc-example .box-a {
  background:#FD5158;
}

.calc-example .box-b {
  background:#FFF9AE;
  color: #1A1A1A;
}

.calc-example .box-c {
  background:#36BDB2;
}
