.remark-slide-number {
  display: none;
}

.remark-slide .remark-slide-content.cols.three .col-span-two {
  width: 66%;
}

.cols h1 + .col,
.cols h1 + .col + .col,
.cols h1 + .col + .col + .col {
  margin-top: -1em;
}

.countdown {
  position: absolute;
  bottom: 180px;
}
.countdown time {
  display: none;
  font-size: 2em;
}

.horizontal-line {
  position: absolute;
  left: 0;
  right: 0;
  height: 40px;
  background: rgba(255,255,255,0.8) url(resources/ruler-background.png) repeat-x top left;
}

.specificity {
  margin: 5rem auto;
}

.specificity tbody {
  background: #fff;
  color: #000;
}

.specificity td {
  height: 120px;
  width: 60px;
  padding: 20px;
  border: 4px solid #ccc;
  color: 000;
  font-size: 2em;
  text-align: center;
  background:  linear-gradient(to bottom, rgba(0,0,0,0.16) 0%,#FDF6E3 49%,rgba(0,0,0,0.12) 100%);
}

ul#summer-drinks li {
  color: #c6c8ca;
}

.favorite {
  color: red;
  font-weight: bold;
}

.inline-example {
  margin-top: 50px;
}


.inline-example div {
  display: inline-block;
  padding: 10px;
  background-color: #FD5158;
  color: #fff;
  height: 100px;
  width: 100px;
}

.inline-example article,
.inline-example aside,
.inline-example footer {
  display: inline-block;
  vertical-align: top;
  padding: 10px;
  color: #fff;
  margin-bottom: 10px;
}

.inline-example article {
  background-color: #FD5158;
}

.inline-example aside {
  background-color: #FFF9AE;
  color: #1A1A1A;
}
.inline-example footer {
  background: #36BDB2;
}

.inline-example-icon {

  font-size: 2em;
}

.inline-example-icon img {
  display: inline-block;
  height: 8em;
  vertical-align: middle;
}

.inline-example-icon span {
  display: inline-block;
  vertical-align: middle;
  font-size: 1.5em;
  line-height: 1em;
  width: 700px;
  text-align: left;
}

.border-box, .border-box * {
  box-sizing: border-box;
}

.box-sizing-example {
  margin:1em auto;
  color: #1A1A1A;
}

.box-sizing-margin {
  border:2px dashed #fff;
  padding: 40px;
}

.box-sizing-padding {
  background-color: #FFF9AE;
  border: 0 solid #BBB0A3;
}

.box-sizing-content {
  border:1px solid;
}

.floating-example {
  margin-top: 1em;
}

.floating-example {
  color: #fff;
}
.floating-example.clearfix:after {
  content: "";
  visibility: hidden;
  display: block;
  height: 0;
  clear: both;
}

.floating-example > * {
  padding: 20px;
  margin-bottom: 10px;
}

.floating-example article {
  background: #FD5158;

}
.floating-example aside {
  background-color: #FFF9AE;
  color: #1A1A1A;
}

.floating-example footer {
  background: #36BDB2;
}


.position-example {
  padding: 10px;
  border: 1px solid #515151;
}
.position-example .box-a,
.position-example .box-b,
.position-example .box-c {
  line-height: 100px;
  text-align: center;
  font-size: 3em;
  color: #fff;
}

.position-example .box-a {
  background:#FD5158;
}

.position-example .box-b {
  background:#FFF9AE;
  color: #1A1A1A;
}

.position-example .box-c {
  background:#36BDB2;
}

.flexbox-example {
  display: flex;
  padding: 10px;
  border: 1px solid #515151;
}

.flexbox-example .box-a,
.flexbox-example .box-b,
.flexbox-example .box-c {
  line-height: 100px;
  text-align: center;
  font-size: 3em;
  color: #fff;
}

.flexbox-example .box-a {
  background:#FD5158;
}

.flexbox-example .box-b {
  background:#FFF9AE;
  color: #1A1A1A;
}

.flexbox-example .box-c {
  background:#36BDB2;
}
