.container {
  position: relative;
}

header > .container {
  position: relative;
}

header form {
  position: absolute;
  width: 21%;
  right: 0;
  top: 0.2rem;
  bottom: 0;
}

figure {
  position: relative;
}

figure figcaption {
  position: absolute;
  left: 0;
  width: 100%;
  bottom: 0;
}

figure.feature {
  margin-bottom: 2rem;
}

main > section figure {
  margin-bottom: 1rem;
}

footer > .container {
  position: relative;
  height: 8rem;
}

footer .address {
  position: absolute;
  left: 1rem;
}

footer .map {
  position: absolute;
  right: 1rem;
  width: 50%;
  max-width: 250px;
}

@media (min-width: 380px) {
  main {
    position: relative;
  }

  main > section .other-stuff {
    position: relative;
    height: 30rem;
  }


  main > section figure {
    position: absolute;
    width: 48%;
  }

  main > section figure:first-child {
    top: 0;
    left: 0;
  }

  main > section figure:nth-child(2) {
    top: 0;
    right: 0;
  }

  main > section figure:nth-child(3) {
    top: 0;
    left: 0;
    margin-top: 40%;
  }

  main > section figure:nth-child(4) {
    top: 0;
    right: 0;
    margin-top: 40%;
  }
}

@media (min-width: 800px) {

  main {
    height: 60rem;
  }

  main > section {
    position: absolute;
    left: 1rem;
    width: calc(66.66% - 1rem);
  }

  main > aside {
    position: absolute;
    right: 1rem;
    width: calc(33.33% - 2rem);
  }
}

@media (max-width: 379px) {
  .container {
    padding: 0 0.5rem;
  }

  #logo .type-of-company {
    display: none;
  }

  figure.feature figcaption {
    font-size: 1.8rem;
  }
}
